<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">

			<div class="col-sm-6 col-sm-offset-3">
					<!-- show authentication messages -->
					<%  if(message.length>0) { %>
						<div class="alert alert-danger"><%= message %></div>
						<% } %>


				<h1>isAuthenticated</h1>
				<p><%= isAuthenticated %></p>
				<div class="new-playlist" id="new-playlist">
				<a href="/playlist/new">
				<img src="assets/images/icn_add.png"> Create Playlist</a></div>
			
				<div class="article-banner">
					<div class="playlist">
					  <% for(var i=0; i<playlists.length; i++) {%>
					    <div class="playlist">
					      <h1><%= playlists[i].title %></h1>
					      <p><%= playlists[i].synopsis %></p>
					    </div>
					  <% } %>
					</div>
				</div>

				<!--
				<article class="mxlist col-md-6 col-md-offset-3">
					<p><% title %></p>
					<p><%= playlists %></p>
				</article> -->
			</div>

		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
