<!DOCTYPE html>
<html lang="en">
<head>
	<% include ../partials/head.ejs %>
</head>
<body>

	<header>
		<% include ../partials/header.ejs %>
	</header>

	<main>
		<div class="container">

			<div class="col-sm-8 col-sm-offset-2">
				
				<%  if(message.length>0) { %>
						<div class="alert alert-danger"><%= message %></div>
				<% } %>


				<h3>isAuthenticated</h1>
				<p><%= isAuthenticated %></p>

				<div class="new-playlist" id="new-playlist">
					<h3><a class="create" href="/playlists/new"><span class="glyphicon glyphicon-plus"></span> Create Playlist</a></h3>
				</div>
			
				<section>
					<% for(var i=playlists.length-1; i>=0; i--) {%>
						<% let count=i%>
						<article class="article-container">
							<div class="title-container" id="<%= playlists[i]._id %>">
								<h1 class="article-title"><%= playlists[i].title %></h1>
							</div>
							<div class="container-fluid cf-custom">
								<div class="row">
									<div class="yellow-line col-md-8 col-sm-2"></div>
									<div class="author col-md-4 col-sm-10"><%= playlists[i].username %></div>
								</div>
								<div class="synopsis"><%= playlists[i].synopsis %></div>
							</div>

						</article>
					<% } %>
				</section>

			</div>

		</div>
	<main>

	<footer>
		<% include ../partials/footer.ejs %>
	</footer>

</body>
</html>
