<html>
<head>
  <% include ../partials/head.ejs %>
</head>
<body>

  <header>
    <% include ../partials/header.ejs %>
  </header>


  <main>

    <div class="hidden" id="playlist_id"><%= playlist._id %></div>
    <div class="container">

      <section class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        <%  if(message.length>0) { %>
            <div class="alert alert-danger"><%= message %></div>
        <% } %>
        <div class="article-banner">

          <article class="playlist">
            <!--<img class="playlist-img" id="imgURL" src="<%= playlist %>" />-->
            <h1 class="title"><%= playlist.title %></h1>
              <div class="authoredBy-wrapper">
              <p class="authoredBy">by</p><h4 class="username"><%= playlist.username%></h4>
            </div>
            <p class="synopsis" id="synopsis"> <%= playlist.synopsis %></p>
            <hr class="playlist-spacer">
          </article>

          <% for(var i=0; i<playlist.songs.length; i++) {%>
            <% let count=i%>
            <article class="song-container">

              <h2 class="song-name"><%= playlist.songs[i].name %></h2>
              <h3 class="artist-name"><i><%= playlist.songs[i].artist %></i></h3>
              <div class="img-container">
                <img class="img-fluid song-imgURL" alt="Responsive image" src="<%= playlist.songs[i].imgURL %>" />
              </div>

              <div id="video-container">
                
                <div>
                  <iframe id="video_<%=i%>1" src="//www.youtube.com/embed/<%=playlist.songs[i].songId%>?enablejsapi=1" frameborder="0" allowfullscreen></iframe>
                </div>
                <div id="controls">
                  <div id="buttons">
                    <a href="javascript:void(0);" id="play_button" class="player-icon"><img class="player-icon play" src="assets/images/icn_play.png" /></a>
                    <a href="javascript:void(0);" id="pause_button"><img class="player-icon pause" src="assets/images/icn_pause.png"></a>
                  </div>
                </div>
              
              </div>

              <p class="song-description"> <%= playlist.songs[i].description %></p>

              <hr class="playlist-spacer">
            <% } %>
            
          </article>

          <article class="playlist-footer">
            <p class="keywords" id="keywords"><%= playlist.keywords %></p>
          </article>
          
          <% if (playlistAuthor == currentUser) { %> 
              <button class="delete-playlist-button">Delete</button>
              <button class="edit-playlist-button">Edit</button>

          <% } %>

        </div>
      </section>

    </div>
  </main>

  <footer class="footer">
    <% include ../partials/footer.ejs %>
  </footer>

</body>
</html>
